<% content_for :title, "Admin Login" %>
<div class="page-wrapper font-robo">
  <div class="wrapper wrapper--w960">
    <div class="card card-2">
      <div class="row">
        <div class = "col-sm-0 col-md-4 card-heading"></div>
        <div class="col-sm-12 col-md-8">
          <div class="card-body">
            <h1 class="title text-center">Sign in</h1>
            <%= form_for :login, url: :sessions do |form| %>
              <div class="input-group row">
                <div class = "col-12">
                  <%= form.text_field :email, class: "input--style-2", placeholder: "Username / Email", required: true %>
                </div>
              </div>
              <div class="input-group row">
                <div class = "col-12">
                  <%= form.password_field :password, class: "input--style-2", placeholder: "Password", required: true %>
                </div>
              </div>
              <div class="input-group row">
                <div class = "col-12">
                  <%= form.submit "LOGIN", class:"btn btn-primary btn-lg btn-block my-2 my-sm-0", data:{disable_with: "Registering.."}%>
                </div>
              </div>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>