<% content_for :title, "Dashboard" %>
<div class="container">
  <% if admin? %>
    <h1 class="text-center">Admin Dashboard</h1>
  <% end %>
  <br />
  <div class="dashboard">
    <% if admin? %>
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <div class="text-center">
            <%= link_to users_path, class: "box btn btn-success" do%>
              <div class="dashboard-wrapper">
                <div class="user-icon">
                  <i class="fa fa-users"></i>
                </div>
                <div class="user-text">
                  <h2><%= total_users %></h2>
                  <span>Registred Users</span>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="col-sm-12 col-md-4">
          <div class="text-center">
            <%= link_to product_categories_path, class: "box btn btn-danger" do %>
              <div class="dashboard-wrapper">
                <div class="fa fa-tag" aria-hidden="true"></div>
                <h2>Product Category</h2>
              </div>
            <% end %>
          </div>
        </div>
        <div class="col-sm-12 col-md-4">
          <div class="text-center">
            <%= link_to quantities_path, class: "box btn btn-danger" do %>
              <div class="dashboard-wrapper">
                <div class="fa fa-balance-scale" aria-hidden="true"></div>
                <h2>Quantity Option</h2>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>