.card-1{
  width:100%;
  padding: 5px;
  // margin-top: 5px;
  // margin-bottom: 5px;
  margin: 5px;
}
.item-col{
  padding:5px;
}
.image-box{
  display: inline-block;
  position: relative;
  margin: auto;
  overflow: hidden;
  width: 100%;
  // height: 150px;
}
.image-box .btn{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}
.product-image{
  width: 100%;
  height: 150px;
  background: no-repeat left top/cover;
}
.product-image:hover{
  transition: all 0.3s;
  transform: scale(1.2);
}
.sales-product{
  padding-top: 10px;
}
.under-line{
  font-size: 20px;
  border-bottom: 2px solid #5bf103;
  margin-bottom: 0px;
}
.see-more{
  font-size: 12px;
  color: #4e0606
}
.see-more:hover{
  transform: scale(1.1);
  transition: transform .2s;
  color: #e20e0e
}
.grey-line{
  border-top: 2px solid #D3D3D3;
  margin-top: -2px;
  width:100%
}
.packet-count-col{
  margin-bottom: 5px;
  margin-top: 2px;
}
.my-field{
  display: inline-block;
  border: 1px solid;
  width: 50px;
  height: 35px;
  margin-top: -3px;
}
.packet-count-btn{
  display: inline-block;
  width: 36px;
  height: 35px;
  cursor: pointer;
  border: 1px solid #e4e4e4;
  background-color: #ffffff;
  text-align: center;
  padding-bottom: 10px;
  font-size: 22px;
  margin: 0;
}
.packet-count-btn:hover{
  border: 1px solid #888686;
  background-color: #7a7878;

}
.minus-button{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right: none;
}
.plus-button{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left: none;
}
.traveller-value{
  border: 1px solid #e4e4e4;
  background-color: #e4e4e4;
  display: inline-block;
  width: 50px;
  height: 35px;
  text-align: center;
  font-size: 22px;
  margin: 0;
}
