.font-robo {
  font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
}
.page-wrapper {
  min-height: 100vh;
  background: #fa4251;
  padding-top: 100px;
  // padding-bottom: 100px;
}
.wrapper {
  margin: 0 auto;
}

.wrapper--w960 {
  max-width: 960px;
}
input, textarea {
  outline: none;
  margin: 0;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  width: 100%;
  font-size: 14px;
  font-family: inherit;
  overflow-y: hidden;
}
.input-group {
  position: relative;
  margin-bottom: 32px;
  border-bottom: 1px solid #e5e5e5;
}
  
.input--style-2 {
  padding: 9px 0;
  color: #666;
  font-size: 16px;
  font-weight: 500;
}
  
.card {
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #fff;
}
.title{
  font-size: 28px;
  color:#525252;
  font-weight: 400;
  margin-bottom: 40px;
}
.card-2{
  border-radius: 10px;
  box-shadow: 0 8px 20px 0 rgba(0,0,0,0.15);
}
.card-heading{
  background: url("login_page_side_load.jpg") top left/cover no-repeat;
}

.validator-icon-styles {
  font-size: 2em;
  margin-top: 5px;
  position: absolute;
  right: 0;
  margin-right: 24px;

  #valid_email, 
  #valid_username, 
  #valid_mobile,
  #valid_confirm_password {
    color: #20ec0d;
    display: none;
  }
  #valid_password{
    display: none;
  }

  #invalid_email, 
  #invalid_username, 
  #invalid_mobile, 
  #invalid_password, 
  #invalid_confirm_password {
    color: #fc061a;
    display: none;
  }
}
#email_error_message, 
#username_error_message, 
#mobile_error_message,
#password_error_message,
#confirm_password_error_message{
  font-size: 12px;
  position: absolute;
  margin-right: 24px;
  margin-top: 50px;
  right: 0;
  display: none;
}
#email_error_message, 
#username_error_message, 
#mobile_error_message,
#confirm_password_error_message{
    color: #fc061a
}
.weak{
  color: #f8e003;
  font-weight: bolder;
}
.danger{
  color: #fc061a;
}
.good{
  color: #a6ff00;
  font-weight: bolder;
}
.strong{
  color: #20ec0d;
  font-weight: bolder;
}
.user-list{
  min-width: 295px;
  max-height: calc(100vh - 30px - 60px - 45px - 50px - 30px - 32px);
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.user-list::-webkit-scrollbar {
  display: none;
}
