<footer class="footer">
  <section class="three-parts">
    <div class="before-copyright container">
      <div class="row footer-row">
        <div class="col-md-3">
          <h5 class="link-header">Quick Links</h5>
          <a href=<%= root_path %> class="link-details">Home</a>
          <a href="#" class="link-details">About Us</a>
          <a href="#" class="link-details">Bags</a>
          <a href="#" class="link-details">Contact us</a>
        </div>
        <div class="col-md-4">
          <h5 class="link-header">Newsletter</h5>
          <form>
            <input class="enter-email" type="text" placeholder="Enter Email Address" size="22">
            <button class="subscribe"><span> Subscribe </span></button>
          </form>
        </div>
        <div class="col-md-5 right-side">
          <h5 class="link-header">Contact Info</h5>
          <ul class="contact-list">
            <li class="contact-details">
              <img src="assets/images/location-icon.png" alt="location-icon" class="contact-image">
              <address class="location m-0">1234 Some St San Francisco, CA 94102, US 1.800.123.4567</address>
            </li>
            <li class="contact-details">
              <img src="assets/images/phone-icon.png" alt="phone-icon" class="contact-image">
              <address class="m-0">(123) 456 78 90</address>
            </li>
            <li class="contact-details">
              <img src="assets/images/envelop-icon.png" alt="envelop-icon" class="contact-image">
              <address class="m-0">info@bags.com</address>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <p class="copyright">Copyright &copy; marketdeal.com 2020</p>
</footer>