<div class="overview-wrapper bg-alice-blue">
  <div class="row bg-light overview-header">
    <div class="col-6 text-left">
      <h4 class="page-title text-color-black">OVERVIEW</h4> 
    </div>
    <div class="col-6 text-right">
      <h4 class="page-time"><i class="fa fa-calendar"></i> <span class="timer"></span></h4> 
    </div>
  </div>
  <%= yield %>
</div>